<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Syllabus</title>
<meta name="generator" content="Org mode" />
<meta name="description" content="Syllabus for {{{courseName}}}, sections {{{courseSectionA}}} and {{{courseSectionB}}} ({{{courseCode}}}), taught by {{{instructor}}} at {{{school}}} in the {{{semester}}} semester."
 />
<style type="text/css">
 <!--/*--><![CDATA[/*><!--*/
  .title  { text-align: center;
             margin-bottom: .2em; }
  .subtitle { text-align: center;
              font-size: medium;
              font-weight: bold;
              margin-top:0; }
  .todo   { font-family: monospace; color: red; }
  .done   { font-family: monospace; color: green; }
  .priority { font-family: monospace; color: orange; }
  .tag    { background-color: #eee; font-family: monospace;
            padding: 2px; font-size: 80%; font-weight: normal; }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .org-center { margin-left: auto; margin-right: auto; text-align: center; }
  .underline { text-decoration: underline; }
  #postamble p, #preamble p { font-size: 90%; margin: .2em; }
  p.verse { margin-left: 3%; }
  pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }
  pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
  }
  pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  /* Languages per Org manual */
  pre.src-asymptote:before { content: 'Asymptote'; }
  pre.src-awk:before { content: 'Awk'; }
  pre.src-C:before { content: 'C'; }
  /* pre.src-C++ doesn't work in CSS */
  pre.src-clojure:before { content: 'Clojure'; }
  pre.src-css:before { content: 'CSS'; }
  pre.src-D:before { content: 'D'; }
  pre.src-ditaa:before { content: 'ditaa'; }
  pre.src-dot:before { content: 'Graphviz'; }
  pre.src-calc:before { content: 'Emacs Calc'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-fortran:before { content: 'Fortran'; }
  pre.src-gnuplot:before { content: 'gnuplot'; }
  pre.src-haskell:before { content: 'Haskell'; }
  pre.src-hledger:before { content: 'hledger'; }
  pre.src-java:before { content: 'Java'; }
  pre.src-js:before { content: 'Javascript'; }
  pre.src-latex:before { content: 'LaTeX'; }
  pre.src-ledger:before { content: 'Ledger'; }
  pre.src-lisp:before { content: 'Lisp'; }
  pre.src-lilypond:before { content: 'Lilypond'; }
  pre.src-lua:before { content: 'Lua'; }
  pre.src-matlab:before { content: 'MATLAB'; }
  pre.src-mscgen:before { content: 'Mscgen'; }
  pre.src-ocaml:before { content: 'Objective Caml'; }
  pre.src-octave:before { content: 'Octave'; }
  pre.src-org:before { content: 'Org mode'; }
  pre.src-oz:before { content: 'OZ'; }
  pre.src-plantuml:before { content: 'Plantuml'; }
  pre.src-processing:before { content: 'Processing.js'; }
  pre.src-python:before { content: 'Python'; }
  pre.src-R:before { content: 'R'; }
  pre.src-ruby:before { content: 'Ruby'; }
  pre.src-sass:before { content: 'Sass'; }
  pre.src-scheme:before { content: 'Scheme'; }
  pre.src-screen:before { content: 'Gnu Screen'; }
  pre.src-sed:before { content: 'Sed'; }
  pre.src-sh:before { content: 'shell'; }
  pre.src-sql:before { content: 'SQL'; }
  pre.src-sqlite:before { content: 'SQLite'; }
  /* additional languages in org.el's org-babel-load-languages alist */
  pre.src-forth:before { content: 'Forth'; }
  pre.src-io:before { content: 'IO'; }
  pre.src-J:before { content: 'J'; }
  pre.src-makefile:before { content: 'Makefile'; }
  pre.src-maxima:before { content: 'Maxima'; }
  pre.src-perl:before { content: 'Perl'; }
  pre.src-picolisp:before { content: 'Pico Lisp'; }
  pre.src-scala:before { content: 'Scala'; }
  pre.src-shell:before { content: 'Shell Script'; }
  pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
  /* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
  pre.src-cpp:before  { content: 'C++'; }
  pre.src-abc:before  { content: 'ABC'; }
  pre.src-coq:before  { content: 'Coq'; }
  pre.src-groovy:before  { content: 'Groovy'; }
  /* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
  pre.src-bash:before  { content: 'bash'; }
  pre.src-csh:before  { content: 'csh'; }
  pre.src-ash:before  { content: 'ash'; }
  pre.src-dash:before  { content: 'dash'; }
  pre.src-ksh:before  { content: 'ksh'; }
  pre.src-mksh:before  { content: 'mksh'; }
  pre.src-posh:before  { content: 'posh'; }
  /* Additional Emacs modes also supported by the LaTeX listings package */
  pre.src-ada:before { content: 'Ada'; }
  pre.src-asm:before { content: 'Assembler'; }
  pre.src-caml:before { content: 'Caml'; }
  pre.src-delphi:before { content: 'Delphi'; }
  pre.src-html:before { content: 'HTML'; }
  pre.src-idl:before { content: 'IDL'; }
  pre.src-mercury:before { content: 'Mercury'; }
  pre.src-metapost:before { content: 'MetaPost'; }
  pre.src-modula-2:before { content: 'Modula-2'; }
  pre.src-pascal:before { content: 'Pascal'; }
  pre.src-ps:before { content: 'PostScript'; }
  pre.src-prolog:before { content: 'Prolog'; }
  pre.src-simula:before { content: 'Simula'; }
  pre.src-tcl:before { content: 'tcl'; }
  pre.src-tex:before { content: 'TeX'; }
  pre.src-plain-tex:before { content: 'Plain TeX'; }
  pre.src-verilog:before { content: 'Verilog'; }
  pre.src-vhdl:before { content: 'VHDL'; }
  pre.src-xml:before { content: 'XML'; }
  pre.src-nxml:before { content: 'XML'; }
  /* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
  pre.src-conf:before { content: 'Configuration File'; }

  table { border-collapse:collapse; }
  caption.t-above { caption-side: top; }
  caption.t-bottom { caption-side: bottom; }
  td, th { vertical-align:top;  }
  th.org-right  { text-align: center;  }
  th.org-left   { text-align: center;   }
  th.org-center { text-align: center; }
  td.org-right  { text-align: right;  }
  td.org-left   { text-align: left;   }
  td.org-center { text-align: center; }
  dt { font-weight: bold; }
  .footpara { display: inline; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }
  .equation-container {
    display: table;
    text-align: center;
    width: 100%;
  }
  .equation {
    vertical-align: middle;
  }
  .equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }
  #org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
  textarea { overflow-x: auto; }
  .linenr { font-size: smaller }
  .code-highlighted { background-color: #ffff00; }
  .org-info-js_info-navigation { border-style: none; }
  #org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
  .org-info-js_search-highlight
    { background-color: #ffff00; color: #000000; font-weight: bold; }
  .org-svg { width: 90%; }
  /*]]>*/-->
</style>
<script type="text/javascript">
/*
@licstart  The following is the entire license notice for the
JavaScript code in this tag.

Copyright (C) 2012-2020 Free Software Foundation, Inc.

The JavaScript code in this tag is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.


@licend  The above is the entire license notice
for the JavaScript code in this tag.
*/
<!--/*--><![CDATA[/*><!--*/
 function CodeHighlightOn(elem, id)
 {
   var target = document.getElementById(id);
   if(null != target) {
     elem.cacheClassElem = elem.className;
     elem.cacheClassTarget = target.className;
     target.className = "code-highlighted";
     elem.className   = "code-highlighted";
   }
 }
 function CodeHighlightOff(elem, id)
 {
   var target = document.getElementById(id);
   if(elem.cacheClassElem)
     elem.className = elem.cacheClassElem;
   if(elem.cacheClassTarget)
     target.className = elem.cacheClassTarget;
 }
/*]]>*///-->
</script>
</head>
<body>
<div id="content">
<h1 class="title">Syllabus</h1>
<link rel="stylesheet" type="text/css" href="sewanee.css" />
<meta name="viewport" content="initial-scale=1">

<input id="light-mode" class="light-mode-checkbox visually-hidden" type="checkbox">
<script src="remember-scheme.js"></script>

<div class="header header-fixed">
<div class="navbar container">
<div class="logo"><a href="index.html">math102-a22</a></div>
<input type="checkbox" id="navbar-toggle" >
<label for="navbar-toggle"><i></i></label>
<nav class="menu">
<ul>
<li><a href="textbook.html">Textbook</a></li>
<li><a href="schedule.html">Schedule</a></li>
<li><a href="homework.html">Homework</a></li>
<li><a href="syllabus.html">Syllabus</a></li>
</ul>
</nav>
</div>
</div>
<div class="theme-container grow">
<div style="padding: 1em"> <label class="light-mode-label" for="light-mode"> <== Click here to toggle light-mode. </label></div>


<div class="figure">
<p><img src="https://ia601507.us.archive.org/35/items/eppo-web-images/morpheus_syllabus.jpg" alt="morpheus_syllabus.jpg" />
</p>
</div>
<div id="outline-container-orgd04244c" class="outline-2">
<h2 id="orgd04244c">Purpose of this Page</h2>
<div class="outline-text-2" id="text-orgd04244c">
<p>
This page serves as the syllabus for math102-a22, Calculus II, taught by Chris Eppolito in the Advent 2022 semester.
I may change any portion of this document at any time.
In the event this is necessary, I will contact enrolled students by email.
</p>

<p>
<i><b>Read this document carefully.</b></i>
This is a contract between us concerning how our course will run.
</p>

<p>
I suggest that you also see the <a href="./index.html#orgd1dbf0b">study tips</a> on the home page (and let me know if you have any further suggestions).
</p>
</div>
</div>
<div id="outline-container-orgc19d13e" class="outline-2">
<h2 id="orgc19d13e">Course Information</h2>
<div class="outline-text-2" id="text-orgc19d13e">
<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-left" />

<col  class="org-left" />
</colgroup>
<tbody>
<tr>
<td class="org-left"><b>Instructor</b></td>
<td class="org-left">Chris Eppolito (he/him/his)</td>
<td class="org-left">&lt;- christopher-dot-eppolito-a​t-sewanee-dot-edu</td>
</tr>

<tr>
<td class="org-left"><b>Section A</b></td>
<td class="org-left">MWF 09:00&#x2013;09:50</td>
<td class="org-left">Woods Lab 216</td>
</tr>

<tr>
<td class="org-left"><b>Section B</b></td>
<td class="org-left">MWF 10:00&#x2013;10:50</td>
<td class="org-left">Woods Lab 123</td>
</tr>

<tr>
<td class="org-left"><b>Office Hours</b></td>
<td class="org-left">MWF 14:00&#x2013;16:00 in Woods Lab 127</td>
<td class="org-left">&lt;- Also by appointment (you propose a time to meet).</td>
</tr>

<tr>
<td class="org-left"><b>Webpage</b></td>
<td class="org-left"><a href="./">My Calculus II Homepage</a></td>
<td class="org-left">&#xa0;</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="outline-container-org4868646" class="outline-2">
<h2 id="org4868646">Content</h2>
<div class="outline-text-2" id="text-org4868646">
<p>
Calculus is a major building block for the natural and physical sciences.
The techniques and results of calculus are fundamental not only to mathematicians, but to physicists, chemists, and biologists.
In more practical applications, calculus is a cornerstone of materials science and engineering.
Beyond the sciences, calculus and related fields have strongly influenced the arts, including music, painting, photography, and many others.
There isn't a single area beyond the influence of calculus!
</p>

<p>
This course seeks to extend your competence in calculus, and to introduce you to additional mathematical techniques used in the sciences.
We begin the semester studying techniques of integration, and addressing some additional topics which come up along the way.
We then move on to study infinite sequences and series, new objects often used to make approximations in the sciences.
</p>
</div>
<div id="outline-container-org9e676aa" class="outline-3">
<h3 id="org9e676aa">Topics</h3>
<div class="outline-text-3" id="text-org9e676aa">
<p>
This course covers the following topics (<i>roughly</i> in this order):
</p>
<ol class="org-ol">
<li>Integration techniques (integration by parts, advanced substitutions, partial fractions).</li>
<li>Inverse functions.</li>
<li>Infinite sequences.</li>
<li>Infinite series.</li>
</ol>
<p>
Time permitting we may cover additional topics.
</p>

<p>
See the <a href="./schedule.html">schedule of topics</a> for our day-to-day schedule.
</p>
</div>
</div>
<div id="outline-container-org3c30014" class="outline-3">
<h3 id="org3c30014">Textbook</h3>
<div class="outline-text-3" id="text-org3c30014">
<p>
I will suggest readings and exercises from the following free textbook throughout the course.
</p>
<ul class="org-ul">
<li><i><a href="https://ocw.mit.edu/courses/res-18-001-calculus-online-textbook-spring-2005/pages/textbook/">Calculus</a></i> by Gilbert Strang</li>
</ul>

<p>
See the <a href="./textbook.html">textbook page</a> for links to specific topics.
I may also provide additional resources there as the semester progresses.
</p>
</div>
</div>
</div>
<div id="outline-container-org087b1d3" class="outline-2">
<h2 id="org087b1d3">Course Objectives</h2>
<div class="outline-text-2" id="text-org087b1d3">
<p>
The official description of this course from the course catalogue is&#x2026;
</p>
<blockquote>
<p>
A continuation of Calculus I. Topics include further theory and applications of integration, techniques of integration, and introduction to series. Some work with a computer is included.
</p>
</blockquote>
</div>
<div id="outline-container-org0736c48" class="outline-3">
<h3 id="org0736c48">Goals</h3>
<div class="outline-text-3" id="text-org0736c48">
<p>
At the end of this course, you should&#x2026;
</p>
<ol class="org-ol">
<li>be able to compute more difficult integrals than those from calculus I.</li>
<li>have additional computational calculus tools necessary for many science courses.</li>
<li>be able to work with inverse functions and their calculus.</li>
<li>develop skills for working with infinite sequences and infinite series.</li>
<li>have the tools to estimate function values to arbitrary precision via infinite series.</li>
</ol>
</div>
</div>
<div id="outline-container-org04cfdfe" class="outline-3">
<h3 id="org04cfdfe">Learning Objective 5. Observing, Experimenting, and Modeling: Quantitative</h3>
<div class="outline-text-3" id="text-org04cfdfe">
<p>
This course involves "substantial quantitative, algorithmic, or abstract logical reasoning", and will help students "develop their abilities to reason both deductively and inductively".
These are addressed via the following methods.
</p>
<ol class="org-ol">
<li>Development of computational skills in the context of calculus.</li>
<li>Application of algorithmic techniques to solve problems.</li>
<li>Emphasis on communication of the reasoning used to solve a problem via written solutions, including the application of theorems.</li>
</ol>
</div>
</div>
</div>
<div id="outline-container-org06093d9" class="outline-2">
<h2 id="org06093d9">Expectations</h2>
<div class="outline-text-2" id="text-org06093d9">
<p>
Here is what I expect from you at a <i>minimum</i>.
</p>
<ul class="org-ul">
<li>Submit your own work, and adhere to the <a href="https://new.sewanee.edu/academics/the-honor-code/">Honor Code</a> (more below).</li>
<li>Be mindful and courteous during ALL interactions with me and your peers (including emails).</li>
<li>Communicate with me if you have any concerns&#x2014;I can help you, but I need to know that I should!</li>
<li>Know when assignments are due and planning accordingly so that they are submitted in a timely fashion.</li>
<li>READ YOUR EMAILS.</li>
<li><p>
Solutions to exercises must clearly demonstrate the logic you used, and may only use methods and notations discussed in my lectures or OK'd by me in advance.
Everything you turn in must be legible AND well-organized, with clear logic describing your solution.
</p>

<p>
A few thoughts on how I do this:
</p>
<ol class="org-ol">
<li>Write a first draft, solving the problems.</li>
<li>REWRITE that draft, now including the necessary English to make full sentences so other people can understand what you've done.</li>
<li>Take some time to do other things (e.g., get a coffee or have a nap).</li>
<li>Return to your work, and check that it still makes sense.</li>
<li>Repeat as necessary 2&#x2013;4 until you attain work that makes us both proud.</li>
</ol>

<p>
<b>Remember</b>: if your work would be too messy for an English class, it's too messy for my class.
</p></li>
</ul>
</div>
</div>
<div id="outline-container-orga07b000" class="outline-2">
<h2 id="orga07b000">The Honor Code and Academic Honesty</h2>
<div class="outline-text-2" id="text-orga07b000">
<p>
You agreed to follow the <a href="https://new.sewanee.edu/academics/the-honor-code/">Honor Code</a> when you matriculated.
All forms of academic dishonesty, including plagiarism, are violations of the Honor Code and will be treated as such.
If you ever have a question about an assignment or need additional help, please ask for assistance rather than jeopardize your academic career.
</p>
</div>
<div id="outline-container-org6253674" class="outline-3">
<h3 id="org6253674">Collaboration</h3>
<div class="outline-text-3" id="text-org6253674">
<p>
I encourage collaboration between students on practice problems and written assignments; if you work with another student on a graded assignment, you MUST CITE THEM as a collaborator on <i>each problem you did together</i>.
</p>

<p>
Collaboration on Quizzes and Exams is FORBIDDEN.
</p>

<p>
Collaboration means that all parties contribute ideas to produce a solution.
<b>Copying or allowing another student to copy solutions is never collaboration</b>&#x2014;that is cheating and will be treated as such.
If you have any doubts as to whether what you did (or plan to do) is collaboration, just ask me.
</p>

<p>
If you do collaborate, remember:
</p>
<ol class="org-ol">
<li>Cite your collaborators.</li>
<li>You must write the solution in your own words.</li>
</ol>
</div>
</div>
<div id="outline-container-org138828f" class="outline-3">
<h3 id="org138828f">Electronic Resources</h3>
<div class="outline-text-3" id="text-org138828f">
<p>
Answers taken from an electronic source are FORBIDDEN.
This includes, but is not limited to, the following.
</p>
<ul class="org-ul">
<li>Calculators of any kind (unless expressly permitted).</li>
<li>Internet search of any kind.</li>
</ul>
</div>
</div>
</div>
<div id="outline-container-org89f3fc9" class="outline-2">
<h2 id="org89f3fc9">Academic Accommodation</h2>
<div class="outline-text-2" id="text-org89f3fc9">
<p>
The University of the South is committed to fostering respect for the diversity of the University community and the individual rights of each member of that community.
In this spirit, and in accordance with the provisions of Section 504 of the Rehabilitation Act of 1973 and the Americans with Disabilities Act (ADA), the University seeks to provide students with disabilities with the reasonable accommodations needed to ensure equal access to the programs and activities of the University.
</p>

<p>
Any student with a documented disability needing academic adjustments is requested to speak with Student Accessibility Services (SAS) as early in the semester as possible.
If approved for accommodations, the student has the responsibility to present their instructors with a copy of the official letter of academic accommodations.
Please note: Accommodation letters should be dated for the current term; accommodations will not be provided without a current accommodation letter; and accommodations cannot be applied retroactively.
</p>

<p>
SAS is located in the Office of the Dean of Students (931.598.1229).
Additional information about accommodations can be found on the <a href="https://new.sewanee.edu/offices/the-college-of-arts-sciences-offices/student-life/dean-of-students-office/student-accessibility-services/">Student Accessibility Services website</a>.
</p>

<p>
Students who have questions about physical accessibility should inform their instructors so that we can ensure an accessible, safe, and effective environment.
</p>
</div>
</div>
<div id="outline-container-org5e4ea67" class="outline-2">
<h2 id="org5e4ea67">Grades</h2>
<div class="outline-text-2" id="text-org5e4ea67">
</div>
<div id="outline-container-org3cbf142" class="outline-3">
<h3 id="org3cbf142">Earning Grades</h3>
<div class="outline-text-3" id="text-org3cbf142">
<p>
YOU are responsible for obtaining the final grade you want in this course.
If you want an A, make sure your grades are in the A range.
</p>

<p>
There is <b>NO EXTRA CREDIT</b>, so don't ask for it.
If you need help, I can provide it as long as I know you are looking for help.
When all is said and done, you will get the grade you earn.
</p>
</div>
</div>
<div id="outline-container-orge9e35a7" class="outline-3">
<h3 id="orge9e35a7">Score Ledger</h3>
<div class="outline-text-3" id="text-orge9e35a7">
<p>
Your course grade will be decided by the following components: Homeworks and Quizzes (25%), Midterms (2 worth 25% each), and a Final (25%).
</p>

<p>
Note that the last day to turn in written work is Wednesday, 7 December, 2022.
</p>

<p>
Grades are decided on the following APPROXIMATE distribution (subject to change):
</p>
<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col  class="org-left" />

<col  class="org-center" />

<col  class="org-center" />

<col  class="org-center" />

<col  class="org-center" />

<col  class="org-center" />
</colgroup>
<tbody>
<tr>
<td class="org-left">Grade</td>
<td class="org-center">F</td>
<td class="org-center">D</td>
<td class="org-center">C</td>
<td class="org-center">B</td>
<td class="org-center">A</td>
</tr>

<tr>
<td class="org-left">Minimum Score</td>
<td class="org-center">-∞</td>
<td class="org-center">60</td>
<td class="org-center">65</td>
<td class="org-center">80</td>
<td class="org-center">90</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div id="outline-container-orge492bc4" class="outline-2">
<h2 id="orge492bc4">Regarding the COVID-19 Pandemic</h2>
<div class="outline-text-2" id="text-orge492bc4">
<p>
This syllabus operates under the assumption that our course meets in person for the whole semester.
I will make a major update to this syllabus if COVID-19 interferes.
</p>
</div>
</div>
</div>
</body>
</html>
