/* TODO: the navbar styles are a bit opaque... should fix that */

:root {
    font-size: 16px;
    background: #202020;
    color: mistyrose;

    /* configure the prompt area */
    --stdin-foreground-color: yellow;
    --stdout-foreground-color: cornsilk; /*todo*/
    --stderr-foreground-color: darksalmon;
    --userinput-foreground-color: lightgreen;
    --ioarea-background-color: #303030;
    --prompt-foreground-color: grey;
    --activeprompt-foreground-color: pink;

    /* configure neko coloring */
    --nekotype-foreground-color: chartreuse;
    --nekobuiltin-foreground-color: deepskyblue;
    --nekokwd-foreground-color: orchid;
    --nekodefname-foreground-color: palegreen;
    --nekodefncontent-foreground-color: peachpuff;
    --nekodelim-foreground-color: darkorange;
    --nekocomment-foreground-color: tomato;
    --nekostring-foreground-color: orange;
    --nekointeger-foreground-color: chartreuse;
    --nekoboolean-foreground-color: yellow;

    /* configure other things */
    --focus-outline-color: aquamarine;
    --indent-margin-width: 2em;

    /* /\* Light theme *\/ */
    /* --c-light-text: black; */
    /* --c-light-background: linen; */
    /* --c-light-focus: olive; */
    /* --c-light-interactive: chocolate; */
    /* --c-light-code-fg: midnightblue; */
    /* --c-light-code-bg: lightsteelblue; */
    /* --c-light-link-unvisited: navy; */
    /* --c-light-link-visited: darkred; */
    /* --c-light-definition-bg: #d8e9a8; /\**\/ */
    /* --c-light-ex-bg: #bbe1fa;         /\**\/ */
    /* --c-light-problem-bg: #e9b5d2;    /\**\/ */
    /* --c-light-proof-bg: #eeeeee; /\**\/ */
    /* --c-light-proposition-bg: #dbdffd; /\**\/ */
    /* --c-light-theorem-bg: #a77979; */

    /* Dark theme */
    --c-text: mistyrose;
    --c-background: #202020;
    --c-focus: aquamarine;
    --c-interactive: sandybrown;
    --c-code-fg: honeydew;
    --c-code-bg: #303030;
    --c-link-unvisited: steelblue;
    --c-link-visited: salmon;
    --c-definition-bg: #062925; /**/
    --c-ex-bg: #0C2233;         /**/
    --c-problem-bg: #420516;    /**/
    --c-proof-bg: #2d2424; /**/
    --c-proposition-bg: #352f44; /**/
    --c-theorem-bg: #472d2d;

    /* define school colors */
    --c-my-dark: #154360;
    --c-my-lite: #d5f5e3;

    /* define background colors for tikz */
    --c-tikz-bg: #a9dfbf;
}

code {
    background: var(--c-code-bg);
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: .5ex;
    padding-bottom: .25ex;
    border-radius: .75ex;
}

details {
    margin-left: 2em;
}
summary {
    margin-left: -2em;
}

section {
    margin: 2em;
}

.codeblock {
    background: var(--c-code-bg);
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: .5ex;
    padding-bottom: .25ex;
    border-radius: .75ex;
}

* { font-family: "Courier New", "Fira Mono", monospace; }

:focus {
    outline: 2px dotted var(--focus-outline-color);
}

.nekodocs {
    /* padding-top: 1em; */
}

.errordescription {
    color: var(--stderr-foreground-color);
}

.stdin, .stdout, .stderr, .prompt, .ioarea, .nekotypesignature, .filename {
    font-family: monospace, monospace;
    font-size: 16px;
}

.ioarea {
    border-radius: 1ex;
    padding: 1ex 0ex .5ex 1ex;
    background: var(--ioarea-background-color);
}
.userinput {
    color: var(--userinput-foreground-color);
}

.stdin {
    color: var(--stdin-foreground-color);
    border: dotted 1px var(--focus-outline-color);
    width: calc(100% - 3em);
    margin-left: -3px;          /*offset for border to keep text aligned perfectly*/
    font-size: inherit;
    background: inherit;
}
.stdin:focus {
    outline: none;
}
.stdout {
    color: var(--stdout-foreground-color);
}
.stderr {
    color: var(--stderr-foreground-color);
}
.prompt {
    color: var(--prompt-foreground-color);
}
#activeprompt {
    color: var(--activeprompt-foreground-color);
}

.nekotype {
    color: var(--nekotype-foreground-color);
}
.nekobuiltin {
    color: var(--nekobuiltin-foreground-color);
}
.nekokeyword {
    color: var(--nekokwd-foreground-color);
}
.nekodefname {
    color: var(--nekodefname-foreground-color);
}
.nekodelimiter {
    color: var(--nekodelim-foreground-color);
}
.nekocomment {
    color: var(--nekocomment-foreground-color);
}
.nekodefncontent {
    color: var(--nekodefncontent-foreground-color);
}
.nekointeger {
    color: var(--nekointeger-foreground-color);
}
.nekostring {
    color: var(--nekostring-foreground-color);
}
.nekoboolean {
    color: var(--nekoboolean-foreground-color);
}

.indented {
    margin-left: var(--indent-margin-width);
}

/* Rules for basic styles */
.sechead, h1, h2, h3 {
    text-align: center;
    background-color: var(--c-my-dark);
    color: var(--c-my-lite);
    width: 100%;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-top: 8pt;
    padding-bottom: 5pt;
    border-radius: .5ex;
    font-weight: bold;
}
.sechead {
    display: flex;
}

td, th {
    padding: .5ex 2ex .5ex 2ex;
}
input[type="number"] {
    background-color: black;
    border: grey 1px solid;
    color: inherit;
    width: 5em;
}

.folding {
    margin: 1em;
}

dt {
    font-weight: bold;
}

.sechead > a:link, .sechead > a:visited {
    color: var(--c-my-lite);
    bottom-border: none;
    text-decoration: none;
}

a {
    bottom-border: #ffdd99 0.125em solid;
}
a:link {
    color: var(--c-link-unvisited);
}
a:visited {
    color: var(--c-link-visited);
}

/* rules for navbar */
html, body {
    /* make navbar reasonable when scrolling */
    scroll-padding-top: 100px;
    /* account for navbar at top of page */
    padding-top: 1.45em;
}

/* NAVBAR STYLES */
.header {
    /* let navbar take up whole top of screen  */
    margin-left: -1ex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--c-my-dark);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-my-lite);
    line-height: 60px;
    /* width: 100%; */
}
.navbar .logo {
    flex: auto;
    color: var(--c-my-lite);
    background: var(--c-my-dark);
}
/* links in navbar */
.navbar .logo a {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    color: var(--c-my-lite);
    padding-left: 1em;
}
.navbar .logo:hover {
    background-color: var(--c-my-lite);
    color: var(--c-my-dark);
}
.navbar .logo:hover a {
    color: var(--c-my-dark);
}
.navbar nav {flex: 10;}

/* DROPDOWNS */
.dropdown {
    float: center;
    text-align: center;
    display: block;
}

li.dropdown > button {
    width: 100%;
}

.dropdown .dropbtn {            /* Dropdown button */
    border: none;
    outline: none;
    background-color: inherit;
    margin: auto;
    font-family: inherit; /* Important for vertical align on mobile phones */
    display: block;
}
.dropdown-content {         /* Dropdown content (hidden by default) */
    display: none;
    position: relative;
    background-color: inherit;
    min-width: 160px;
    width: inherit;
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: var(--c-my-dark);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--c-my-lite);
    color: var(--c-my-dark);
    justify-content: space-between;
}
.dropdown:hover .dropdown-content { /* Show the dropdown menu on hover */
    display: block;
    position: absolute;
}
.dropdown:hover .dropdown-content a { /*style links*/
    color: var(--c-my-lite);
}
.dropdown:hover .dropdown-content a:hover {
    color: var(--c-my-dark);
}

.navbar label {
    user-select: none;
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    z-index: 3;
}
.navbar label i {
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    font-style: normal;
    font-weight: normal;
}
.navbar label i:before, .navbar label i:after {
    content: '';
    height: 100%;
    position: relative;
    transition: all .2s ease-out;
    width: 100%;
}
.navbar label i, .navbar label i:before, .navbar label i:after {
    display: block;
    background: var(--c-my-lite);
}
.navbar label i:before {top: 5px;}
.navbar label i:after {top: -5px;}

.navbar #navbar-toggle {display: none;}
.header #navbar-toggle:checked ~ .menu {
    visibility: visible;
    opacity: 0.99;
}
.header #navbar-toggle:checked ~ label {
    background: #212121;
    border-radius: 50%;
}
.header #navbar-toggle:checked ~ label i {
    background: transparent;
}
.header #navbar-toggle:checked ~ label i:before {
    transform: rotate(-45deg);
}
.header #navbar-toggle:checked ~ label i:after {
    transform: rotate(45deg);
}
.header #navbar-toggle:checked ~ label:not(.steps) i:before,
.header #navbar-toggle:checked ~ label:not(.steps) i:after {
    top: 0;
}

/* styling for navbar menu when collapsed */
@media (max-width: 768px) {
    .navbar nav {
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-out;
        display: table;
        background: var(--c-my-dark);
    }
    .navbar nav ul {
        margin: 0;
        padding: 20px 0;
        display: table-cell;
        vertical-align: middle;
    }
    .navbar nav li {
        display: block;
        text-align: center;
        padding: 20px 0;
        text-align: center;
        font-size: 50px;
        min-height: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .navbar nav li:hover {background: var(--c-my-lite);}
    /* .navbar nav li:hover a { */
    /*     transition: all 0.3s ease-out; */
    /* } */
    .navbar nav li a {color: var(--c-my-lite);}
}

/* styleing for navbar when not collapsed */
@media (min-width: 768px) {
    .navbar nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        text-align: center;
        list-style: none;
    }
    .navbar nav li {flex: 1;}
    .navbar nav li a {
        display: block;
        padding: 0 8px;
        font-size: 16px;
        line-height: 60px;
        color: var(--c-my-lite);
        text-decoration: none;
    }
    .navbar nav li.active {background: #555;}
    .navbar nav li:hover {
        background-color: var(--c-my-lite);
        /* color: var(--c-my-dark); */
    }
    .navbar nav li:hover a {
        /* background-color: var(--c-my-lite); */
        color: var(--c-my-dark);
    }
    .navbar label {display: none;}
}
